# Node & Next
node_modules/
.next/
dist/
build/
package-lock.json
yarn.lock

# Python
__pycache__/
*.pyc
.env
.env.local
venv/
.venv

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
*.log

# Misc
.vscode/
.idea/
node_modules
node_modules

!project/backend/api_gateway/.env
